.card {
  width: 350px;
  height: 100%;
  margin: 10px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  /* flex: 16%; */
  transition: transform 0.2s linear;
  margin-bottom: 0.5rem;
  position: relative;
}

.card-link {
  text-decoration: none;
  color: inherit; /* 부모 요소의 색상을 상속받음 */
}

/* 링크가 활성화되었을 때(클릭했을 때) 보라색폰트색이랑 밑줄 안생기도록*/
.card-link:active {
  text-decoration: none;
  color: inherit;
}

.card-poster {
  width: 100%;
  height: 227px;
  border-radius: 10px;
  object-fit: cover;
  transition: all 1s linear;
}

.card-title {
  padding: 3px;
  margin-bottom: 2px;
  height: 1.6rem;
  align-self: flex-start;
  overflow: hidden;
  font-size: 1.1rem;
}

.card-vote_average {
  height: 20px;
  padding-right: 3px;
  padding-left: 3px;
  align-self: self-end;
  color: rgba(26, 26, 26, 0.544);
}

.card-vote-dark {
  color: var(--mainWhite);
}

.card-information {
  display: flex;
  justify-content: end;
}

.card-icon {
  color: orange;
}

.card-layer {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 99;
  color: white;
  padding-left: 5px;
  padding-top: 3px;
  /*카드 레이어가 제일 위에있어서 onmouse 이벤트가 동작을 안해서
  해당 요소가 마우스 이벤트를 차단하지 않도록함. 그러면 마우스 이벤트는 해당 요소는 무시하고 그 아래 요소에서 발생하게 될 것*/
  pointer-events: none; /* 이 속성을 추가 */
  /*https://pottatt0.tistory.com/entry/css-mix-blend-mode-%EC%82%AC%EC%A7%84-%EC%9C%84-%EA%B8%80%EC%9E%90%EB%A5%BC-%ED%8A%80%EA%B2%8C-%ED%95%98%EB%8A%94-%EB%B2%95*/
  mix-blend-mode: difference;
}

@media screen and (max-width: 1008px) {
  .card {
    width: 280px;
    height: 230px;
  }
  .card-vote_average {
    margin-bottom: 1rem;
  }
  .card-title {
    height: 1.7rem;
  }
}
@media screen and (max-width: 620px) {
  .card {
    width: 220px;
    height: 190px;
  }
  .card-title {
    font-size: 1rem;
  }
}
@media screen and (max-width: 430px) {
  .card {
    width: 155px;
  }
  .card-title {
    font-size: 1rem;
  }
}
