.detail-container {
  width: 1028px;
  height: 70vh;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
}

.detail-poster {
  width: 50%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  animation: moveRight 1s linear;
}

.detail-description {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 1rem;
  animation: moveTop 1s linear;
}

.detail-description__title {
  margin: 1rem;
}

.detail-description__vote-average {
  margin: 1rem;
  display: flex;
  align-items: center;
  font-size: 1.3rem;
}

.detail-description__genres {
  margin: 1rem;
}

.detail-description__genre {
  margin: 2px;
  margin-left: 0;
  background-color: #6abe83;
  padding: 5px 15px;
  text-align: center;
  border-radius: 5px;
  color: white;
}

.detail-description__overview {
  margin: 1rem;
  width: 80%;
  line-height: 1.5rem;
}

.detail-icon {
  color: orange;
  margin-right: 2px;
}

@keyframes moveRight {
  from {
    opacity: 0;
    transform: translate(-10%);
  }
  to {
    opacity: 1;
    transform: translate(0%);
  }
}

@keyframes moveTop {
  from {
    opacity: 0;
    transform: translateY(10%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

@media screen and (max-width: 1008px) {
  .detail-container {
    flex-direction: column;
    align-items: center;
    width: 90%;
    padding: 1rem;
  }
  .detail-poster {
    width: 100%;
  }
  .detail-description {
    width: 100%;
    padding: 0;
  }
  .detail-description__overview {
    width: 95%;
  }
  .detail-description__title,
  .detail-description__vote-average,
  .detail-description__genres,
  .detail-description__overview {
    margin: 10px;
  }
}

@media screen and (max-width: 480px) {
  .detail-container {
    width: 100%;
    padding: 1rem;
  }
  .detail-description__title,
  .detail-description__vote-average,
  .detail-description__genres,
  .detail-description__overview {
    font-size: 1rem;
    margin: 5px;
  }
  .detail-description__overview {
    width: 100%;
  }
  .detail-description__genre {
    padding: 2 12px;
    font-size: 15px;
  }
}
