.card {
  width: 350px;
  height: 100%;
  margin: 10px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  /* flex: 16%; */
  transition: transform 0.2s linear;
  margin-bottom: 0.5rem;
}

.card-link {
  text-decoration: none;
  color: inherit; /* 부모 요소의 색상을 상속받음 */
}

/* 링크가 활성화되었을 때(클릭했을 때) 보라색폰트색이랑 밑줄 안생기도록*/
.card-link:active {
  text-decoration: none;
  color: inherit;
}

.card-poster {
  width: 100%;
  height: 227px;
  border-radius: 10px;
  object-fit: cover;
}

.card-title {
  padding: 3px;
  margin-bottom: 2px;
  height: 1.6rem;
  align-self: flex-start;
  overflow: hidden;
  font-size: 1.1rem;
}

.card-vote_average {
  height: 20px;
  padding-right: 3px;
  padding-left: 3px;
  align-self: self-end;
  color: rgba(26, 26, 26, 0.544);
}

.card-vote-dark {
  color: var(--mainWhite);
}

.card-information {
  display: flex;
  justify-content: end;
}

.card-icon {
  color: orange;
}

@media screen and (max-width: 1008px) {
  .card {
    width: 280px;
    height: 230px;
  }
  .card-vote_average {
    margin-bottom: 1rem;
  }
  .card-title {
    height: 1.7rem;
  }
}
@media screen and (max-width: 620px) {
  .card {
    width: 220px;
    height: 190px;
  }
  .card-title {
    font-size: 1rem;
  }
}
@media screen and (max-width: 430px) {
  .card {
    width: 155px;
  }
  .card-title {
    font-size: 1rem;
  }
}
