.mypage-content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  width: 80%;
  margin: 0 auto;
  padding: 5rem;
  border-bottom: 1px solid rgb(220, 220, 220);
}

.mypage-container {
  display: flex;
  align-items: center;
  gap: 5rem;
}

.mypage-img {
  width: 200px;
  height: 200px;
  border-radius: 50%; /* 원형 이미지 */
  margin-bottom: 20px;
}

.mypage-name {
  padding: 1rem;
  padding-left: 10px;
}

.mypage-email {
  padding: 1rem;
}

.mypage-bookmark {
  width: 80%;
  margin: 0 auto;
  margin-top: 2rem;
}

.mypage-bookmark-list {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 1008px) {
  .mypage-img {
    width: 100px;
    height: 100px;
  }
  .mypage-container {
    gap: 2rem;
  }
}

.mypage-edit-btn {
  border: none;
  background-color: transparent;
  color: var(--secondaryColor);
  cursor: pointer;
}

.name-container {
  display: flex;
  position: relative;
}

.edit-name {
  position: absolute;
  top: 30px;
  left: 80px;
}

.edit-input {
  border: none;
  border-bottom: 1px solid rgb(183, 183, 183);
  margin-left: 13px;
}

.profile-edit-btn {
  padding-left: 15px;
}
