.signin-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.signin-container {
  width: 400px;
  height: 60px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 30px;
  border-radius: 20px;
}

.signin-input {
  flex-grow: 1;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgb(179, 179, 179);
  outline: none;
  margin-left: 5px;
}

.signin-button {
  width: 380px;
  height: 60px;
  margin: 5px;
  font-size: 1.5rem;
  padding: 10px 30px;
  border-radius: 20px;
  background-color: #1c7ed6;
  color: white;
  border: none;
  font-weight: 900;
  cursor: pointer;
  cursor: pointer;
  transition: background-color 300ms ease-in-out;
}

.signin-button:hover {
  background-color: #1864ab;
}

.signin-text {
  font-size: 4rem;
  font-family: "HakgyoansimGaeulsopungB";
  margin-bottom: 70px;
}
