.card {
  /* width: 180px; */
  height: 100%;
  margin: 10px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  flex: 16%;
}
.card-poster {
  width: 100%;
  height: 230px;
}

.card-title {
  height: 30px;
  align-self: flex-start;
}

.card-vote_average {
  height: 30px;
  align-self: self-end;
}
