.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10rem;
  width: 100%;
  height: 80px;
  background-color: white;
  position: sticky;
  left: 0;
  top: 0;
  z-index: 9;
  border-bottom: 1px solid rgb(237, 237, 237);
}

.nav-logo {
  font-size: 5rem;

  color: black;
  color: #1c7ed6;
}

.nav-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}

.nav-button:hover {
  color: #1c7ed6;
}

.nav-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-family: "HakgyoansimGaeulsopungB";
  font-size: 3rem;
}
