.signin-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.signin-container {
  width: 400px;
  height: 60px;
  margin: 5px;
  background-color: rgb(0, 0, 0);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 30px;
  border-radius: 20px;
}

.signin-input {
  flex-grow: 1;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgb(179, 179, 179);
  outline: none;
  margin-left: 5px;
}

.signin-button {
  font-size: 1.5rem;
  background-color: transparent;
  color: white;
  border: none;
  font-weight: 900;
}
