@font-face {
  font-family: "S-CoreDream-6Bold";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "HakgyoansimGaeulsopungB";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/HakgyoansimGaeulsopungB.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Freesentation-9Black";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-9Black.woff2")
    format("woff2");
  font-weight: 900;
  font-style: normal;
}

:root {
  --primaryColor: #1c7ed6;
  --secondaryColor: #e03131;
  --mainWhite: #fff;
  --mainBlack: #1e1e1e;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "S-CoreDream-3Light";
}

body {
  overflow-y: scroll;
}

body::-webkit-scrollbar {
  display: none;
}

.dark-mode {
  background-color: var(--mainBlack);
  color: var(--mainWhite);
}

.light-mode {
  background-color: var(--mainWhite);
  color: var(--mainBlack);
}
